@import './colors.scss';
@import './Variables/fonts.scss';




.logoHeader {
    color: white;
    display: inline-block; 
    position: relative;
    // left: 5px;
    top: 10px;
    margin-right: auto;
    margin-left: 2rem;

    
    // text-align: right;
}




.backgroundGrad {
    height: 5vh;
    width: 100%;
    border-radius: 10px;
    min-height: 40px;
    background: linear-gradient(60deg, #00a849 40%, #009869 60%, #00857b);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 12px black;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    
    
    h1 {
        #test {
            // fill: red;
            position: relative;
            top: 4px;
            margin-right: 0;
        }
        
    }

    &:last-child {
        margin-right: 2rem;
    }
    
    a {
        color: white;
        list-style: none;
        text-decoration: none;
        // margin-right: 15px;
        margin-right: 2rem;
        font-family: $font3;

            &:hover {
                color: $navyblue;
                
            }
    }

}

svg {
    margin-right: 4px;
    
}


#gridbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 

    margin-bottom: 5rem;


    
    #grid1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    #grid2 {
        grid-area: 1 / 2 / 2 / 3;
    }
}


