@import './colors.scss';
@import './Variables/fonts.scss';




.logoHeader {
    color: white;
    display: inline-block; 
    position: relative;
    // left: 5px;
    top: 10px;
    margin-right: auto;
    margin-left: 2rem;
    // text-align: right;
}




.backgroundGrad {
    height: 5vh;
    width: 100%;
    border-radius: 10px;
    min-height: 40px;
    background: linear-gradient(60deg, #00a849 40%, #009869 60%, #00857b);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    
    &:last-child {
        margin-right: 2rem;
    }
    
    a {
        color: white;
        list-style: none;
        text-decoration: none;
        // margin-right: 15px;
        margin-right: 2rem;
        font-family: $font3;

            &:hover {
                color: $navyblue;
                
            }
    }

}





