@import './colors.scss'; //Change to @use
@import './Variables/fonts.css';

// body {
//     // background: linear-gradient(60deg, $lightgreen 40%, $darkgreen 60%, $bluegreen);
//     // background-repeat: no-repeat;
    
// }


// figure {
//     border: black 3px solid;
// }

// "background: linear-gradient(60deg, #00a849 40%, #009869 60%, #00857b);"


svg {

    // border: #f6edd9 solid 10px;
    // width: 100%;

    // position: absolute;
    // top: 10px;
    // left: 10px;
    // overflow: scroll;

        &:hover {
            cursor: zoom-in;
        }

    
}


.worldmap__figure-container {
    // border: #f6edd9 solid 10px;
    border: $bluegreen solid 6px;
    border-radius: 8px;

    width: 640px;

    
    // width: 100px;
    
    
    
}


// ? SVG Reference
//^ height: 480px, width: 640px
//^ height: 360px, width: 480px
//^ height: 252px, width: 336px
//^ height: 180px, width: 240px


@media (max-width: 1246px) {

    .worldmap__figure-container {
        // border: #f6edd9 solid 10px;
        border: $bluegreen solid 6px;
        border-radius: 8px;
    
        // width: 50vh;
        height: 360px;
        width: 480px;
    
        
        // width: 100px;
        
        
        svg {
           height: 360px !important;
           width: 480px !important;
        }
        
    }   


}
// .map {
//     // border: burlywood solid 10px;

//     // height: 50vh;
// }




h1 {
    // font-family: $mainFont;
    font-family: 'Fredoka One', cursive;
    letter-spacing: .1rem;
    text-align: center;
    // margin-left: 30px;
    margin-top: 0;
    color: white;
    padding-bottom: 15px;
    padding-top: 10px;
}


// #Appbody {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: 1fr;
//     grid-column-gap: 0px;
//     grid-row-gap: 0px; 

// }

// #grid1 {
//     grid-area: 1 / 1 / 2 / 2; 
// }


// #grid2 {
//     grid-area: 1 / 2 / 2 / 3;
// }

// .langBox {
//     background-color: red;
    
// }