.App {
  background-color: white;
  overflow: auto;
  -webkit-box-shadow: inset 0 0 0 100vh rgba(255, 255, 255, 0.8);
          box-shadow: inset 0 0 0 100vh rgba(255, 255, 255, 0.8);
  background-image: url("../../public/imgs/worldmap.png");
  background-size: 100vw;
  background-repeat: no-repeat;
}

.AppBody {
  padding: 0 5%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.AppBody .searchContainer {
  margin-right: 20px;
}

.searchDivs {
  color: gray;
  padding: 4px 0 6px 0;
  background-color: white;
  font-family: "Lato", sans-serif;
}

.searchDivs:hover {
  color: white;
  background-color: #2f4858;
}

.selectedDivs {
  color: white;
  padding: 4px 0 6px 0;
  background-color: #2f4858;
  font-family: "Lato", sans-serif;
}

#searchBox {
  width: 400px;
  border: #00857b 4px solid;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  height: 50vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#searchBox::-webkit-scrollbar {
  display: none;
}

header {
  font-family: "Fredoka One", cursive;
  background: linear-gradient(60deg, #00a849 40%, #009869 60%, #00857b);
}

header #langHead {
  margin: 0;
  padding: 0 0 20px 0;
  color: white;
  text-align: center;
}

.iconics {
  margin-right: 5px;
  visibility: hidden;
}

.iconics:hover {
  visibility: visible;
}

.icons {
  margin-right: 8px;
}

#langSearch {
  margin-bottom: 10px;
  border: solid #2f4858 2px;
  margin-right: 5px;
  border-radius: 10px;
}

#searchButton {
  background-color: #00857b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 6px;
  margin-right: 5px;
}

#searchButton:hover {
  background-color: #00b8aa;
}

#clearButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 6px 8px;
}

#clearButton:hover {
  background-color: #cc0000;
}

button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

#refreshButton {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 6px;
  margin: 5px 0 10px 0;
}

#refreshButton:hover {
  background-color: #cc8400;
}

#infoComponent {
  width: 400px;
  background-color: #009869;
  color: white;
  border-radius: 10px;
  margin: 0 10px;
}

#infoComponent h2 {
  font-family: "Fredoka One", cursive;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 10px 0;
}

#infoComponent li {
  font-family: "Lato", sans-serif;
  list-style: none;
  background-color: white;
  color: gray;
  padding: 4px 0 6px 0;
}

#infoComponent ul {
  padding: 0;
  margin: 0;
}

#worldlaHead {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.worldlaSearchBox {
  height: 50px;
  width: 50vw;
  max-width: 700px;
  background: linear-gradient(60deg, #00a849 40%, #009869 60%, #00857b);
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.worldlaSearchBox svg {
  fill: white;
  display: inline;
}

.worldlaSearchBox #langSearchBar {
  margin-bottom: 10px;
  margin-right: 5px;
  width: 200px;
}

.worldlaSearchBox input {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 20px;
}

.worldlaSearch {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */